body {
    background-color: #111111;
    color: #CCCCCC;
    font-family: monospace, "Courier New", Courier;
}
input {
    color: white;
    background-color: #333333;
    border-width: 1px;
    border-radius: 2px;
}
label {
    float: left;
}
a {
    color: #4682B4;
}
#chatArea {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    width: 100%;
}
#chatText, #chatList {
    text-align: left;
    vertical-align: top;
    padding-bottom: .5rem;
}
#chatText {
    word-break: break-all;
    word-wrap: break-word;
    width: 75%;
    height: 70vh;
    max-height: 70vh;
}
#chatList {    
    width: 25%;
    height: 70vh;
    max-height: 70vh;
}
#chatInputArea {
    width: 100%;
}
#chatInputArea div {
    overflow: hidden;
}
#chatInput {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
}
#myName {
    cursor: pointer;
}
#myName, #authCode {
    color: whitesmoke;
    font-weight: bold;
}
#header {
    padding-bottom: 1rem;
}
#headerLeft {
    float: left;
    text-align: left;
    padding-left: 5px;
}
#headerLeft div {
    overflow: hidden;
}
#headerRight {
    float: right;
    text-align: right;
    padding-right: 5px;
}
#connIndicator {
    padding-left: 5px;
    padding-right: 5px;
}
#serverTab {
    padding-left: 0px;
}
#tabs {
    color: dimgray;
    height: 1.4rem;
    border-bottom: 1px solid #666666;
}
#tabs .tabName > .inactiveTab, .tabName > .activeTab{
    font-style: italic;
}
#tabs .tabX {
    padding-right: .5em;
    cursor: pointer;
    color: #AC3939;
}
#URTitle {
    color: white;
    height: 1.4rem;
    border-bottom: 1px solid #666666;
    font-weight: bold;
}
#URListArea {
    background-color: #333333;
}
.activeTab, .inactiveTab {
    padding-left: .5em;
    padding-right: .5em;
}
.activeTab {
    color: whitesmoke;
    font-weight: bold;
    cursor: default;
}
.scroller {
    overflow-y: scroll;
    height: calc(100% - 1.4rem);
}
.disconnected {
    color: red;
}
.connected {
    color: green;
}
.sender {
    color: whitesmoke;
}
.receipt {
    color: lightslategray;
}
.timestamp {
    color: gray;
    font-style: normal;
}
.marginLeft {
    margin-left: 4px;
}
.myUser {
    color: gray;
}
.hover {
    font-weight: bold;
    text-decoration: underline;
    color: white;
    cursor: pointer;
}
.server_msg { 
    color: gray;
}
.send_private_msg {
    color: olivedrab;
}
.recv_private_msg {
    color: #88A3BF;
}
.send_room_msg {
    color: #C09090;
}
.recv_room_msg {
    color: #CCCCCC;
}
.status_msg {
    color: royalblue;
    font-style: italic;
}
.error_msg {
    color: red;
}
.success_msg {
    color: green;
}
.attention_msg {
    color: gold;
}
.info_msg {
    color: burlywood;
}
@media only screen and (max-width: 640px) {
    #chatList { height: 15vh; max-height: 15vh; width: 100%; order: 1; }
    #chatText { height: 20vh; max-height: 20vh; width: 100%; order: 2; }
    #chatInputArea { order: 3; }
    #helpArea { visibility: hidden; }
}