body {
    background-color: #111111;
    color: #CCCCCC;
    font-family: monospace, "Courier New", Courier;
}
input {
    color: white;
    background-color: #333333;
    border-width: 1px;
    border-radius: 2px;
    font-size: 1em;
}
pre {
    font-size: 1.25em;
}
a {
    color: #4682B4;
}
div.left {
    float: left;
    width: 50%;
}
div.right {
    float: right;
}
#myName {
    cursor: pointer;
}
#myName, #authCode {
    color: whitesmoke;
    font-weight: bold;
}
#headerLeft {
    float: left;
    text-align: left;
    padding-left: 5px;
}
#headerRight {
    float: right;
    text-align: right;
    padding-right: 5px;
}
#connIndicator {
    padding-left: 5px;
    padding-right: 5px;
}
#tabs {
    color: lightgray;
    height: 1.4rem;
    padding-top: 3px;
}
#tabs .tabName > .inactiveTab, .tabName > .activeTab{
    font-style: italic;
}
#tabs .tabX {
    font-size: small;
    padding-right: .5em;
    cursor: pointer;
    color: #AC3939;
}
#chatArea {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    width: 100%;
}
#chatText, #chatList {
    text-align: left;
    vertical-align: top;
}
#chatText {
    word-break: break-all;
    word-wrap: break-word;
    width: 75%;
    height: 60vh;
    max-height: 60vh;
}
#URtitle {
    height: 1.4rem;
    padding-top: 3px;
}
#chatList {
    width: 25%;
    height: 60vh;
    max-height: 60vh;
}
#chatInput {
    padding: 4px;
    margin-top: 4px;
    width: 100%;
    height: 1.4em;
}
.marginLeft {
    margin-left: 4px;
}
.borders {
    border-top: 1px solid #666666;
    border-bottom: 1px solid #666666;
}
.myUser {
    color: gray;
}
.hover {
    font-weight: bold;
    text-decoration: underline;
    color: white;
    cursor: pointer;
}
.activeTab, .inactiveTab {
    padding-left: .5em;
    padding-right: .5em;
}
.activeTab {
    color: whitesmoke;
    font-weight: bold;
    cursor: default;
}
.scroller {
    overflow-y: scroll;
    height: calc(100% - 1.4em);
}
.disconnected {
    color: red;
}
.connected {
    color: green;
}
.sender {
    color: whitesmoke;
}
.receipt {
    color: lightslategray;
}
.timestamp {
    color: gray;
    font-style: normal;
}
.server_msg { 
    color: gray;
}
.send_private_msg {
    color: olivedrab;
}
.recv_private_msg {
    color: #88A3BF;
}
.send_room_msg {
    color: #C09090;
}
.recv_room_msg {
    color: #CCCCCC;
}
.status_msg {
    color: royalblue;
    font-style: italic;
}
.error_msg {
    color: red;
}
.success_msg {
    color: green;
}
.attention_msg {
    color: gold;
}
.info_msg {
    color: burlywood;
}
@media only screen and (max-width: 800px) {
    #chatList { height: 20vh; max-height: 20vh; width: 100%; order: 1; }
    #chatText { width: 100%; order: 2; }
    #chatInput { order: 3; }
}